* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	/* border: 1px solid red; */

}

:root {
	--color-accent: #5EC1D7;
	--color-weak-accent: #5C929E;
	--color-dark: #131A2C;
	--color-gray: #25355E;
}

html, body {
	position: relative;
	max-width: 100vw;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	background-color: #161616;
	background-image: radial-gradient(123.75% 123.75% at 50% 0%, rgba(107, 23, 119, 0.35) 0%, rgba(107, 23, 119, 0.10) 100%);
	color: #eee;
	display: flex;
	justify-content: center;
	gap: 35px;
	justify-content: center;
	padding: 0 calc((100vw - 1200px) / 2 - 8.5px);
}

@media (max-width: 1200px) {
	body {
		flex-direction: column;
		padding: 100px calc((100vw - 600px) / 2 - 8.5px);
	}
}

@media (max-width: 768px) {
	body {
		flex-direction: column;
		padding: 100px 20px;
	}
}